@model IEnumerable<ik090515_MIS4200.Models.VisitDetails>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Owners.petName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Visits.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.diagnosis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.visitDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Owners.petName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Visits.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.diagnosis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.visitDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.visitDetailID }) |
            @Html.ActionLink("Details", "Details", new { id=item.visitDetailID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.visitDetailID })
        </td>
    </tr>
}

</table>
