@model ik090515_MIS4200.Models.Owners

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Owners</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.petName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.petName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ownerFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ownerFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ownerLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ownerLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ownerEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ownerEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ownerPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ownerPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customerSince)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customerSince)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ownerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
